.TodoInsert {
  /* display: flex;
  background-color: aqua; */

  border-bottom: 1px solid var(--twitter-background);
  padding-right: 10px;
  margin-top: -35px;
}

.TweetNum {
  padding-right: 10px;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #1d9bf0;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid var(--twitter-background);
}

/* .TodoInsert > input {
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: white;
  flex: 1;
} */
.TodoInsert > form {
  display: flex;
  flex-direction: column;
}
.TodoInsert__input {
  padding: 10px;
  display: flex;
}

input:focus {
  outline: none;
}

.TodoInsert__input > input {
  flex: 1;
  margin-left: 10px;
  font-size: 19px;
  border: none;
}
.TodoInsert__icons {
  padding-bottom: 10px;
}
.TodoInsert__icon {
  display: flex;
  margin-left: 67px;
  margin-top: 29px;
}

.TodoInsert__Button {
  outline: none;
  border: none;
  width: 90px;
  height: 35px;
  padding-bottom: 2px;
  background-color: var(--twitter-color);
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 455px;
  margin-top: -35px;
  border-radius: 30px;
  float: left;
}

.TodoInsert__Button:hover {
  background-color: #1a8cd8;
}
